@import url("https://fonts.googleapis.com/css?family=Contrail+One|Open+Sans");
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#about,
#projects,
#frontpage {
  position: relative;
  max-width: 90vw;
  padding: 5vw;
  margin-bottom: 15vh;
}

h1,
h2,
li,
a {
  font-family: "Contrail One";
  text-transform: uppercase;
}
.aboutwrapper,
.projectwrapper,
.contactwrapper,
.wrapper {
  font-family: "Contrail One";
  text-transform: uppercase;
  position: relative;
}
.aboutwrapper,
.projectwrapper,
.wrapper {
  font-size: 30px;
}
.aboutwrapper,
.projectwrapper,
.contactwrapper {
  grid-column: 1/-1;
  grid-row: 1;
  align-self: center;
}
.contactwrapper {
  font-size: 20px;
}
/*Menu starts*/

.deskmenu {
  display: none;
}
.logo {
  font-size: 1.5em;
  padding: 2%;
}

ul > li {
  list-style-type: none;
  text-transform: uppercase;
}
a {
  color: black;
  text-decoration: none;
}

.appbar {
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.9);
}

.appbar,
.menu,
.deskmenu {
  padding: 5px;
  position: fixed;
  margin: 0;
  z-index: 10;
}

.menu {
  line-height: 30px;
  width: 100%;
  height: 150px;
  top: 50px;
  left: 0;
  margin: 0;
  text-align: left;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.7);
}

.hidden {
  transform: translateY(-100vh);
}

.menuIcon {
  float: right;
  height: 30px;
  margin-top: 10px;
  margin-right: 50px;
}

rect {
  fill: black;
  transition: all 0.6s;
}

rect:nth-child(1) {
  transform-origin: left top;
}

rect:nth-child(3) {
  transform-origin: left bottom;
}

.fadeOut {
  opacity: 0;
}

.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}

.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}

.menulogo {
  width: 20vw;
  top: 1vh;
  margin: 10px 0 0 10px;
  position: absolute;
}

/***************Menu ends**********/

/***************FRONTPAGE**********************/
#frontpage {
  /* position: absolute; */
  top: 10vh;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}
.wrapper {
  grid-column: 2/-1;
  grid-row: 1;
  /* font-size: 40px; */
  /* top: 20vh; */
  /* left: 30vw; */
  align-self: end;
}
.copySpan {
  position: absolute;
  color: white;
  -webkit-text-stroke: 1px black;
}
.front {
  font-size: 1em;
  position: relative;
  grid-column: 2/-1;
  grid-row: 2;
  padding: 5%;
  align-self: top;
}

.redbox {
  background-image: url(img/redbox.svg);
  background-repeat: no-repeat;
  height: 60vh;
  width: 50vw;
  z-index: -100000;
  grid-column: 1/3;
  grid-row: 1/-1;
  align-self: center;
}

.frontBox {
  font-weight: 100;
  width: 50%;
}
/*********ABOUT************/
#about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
}
#about > h1 {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.skilllist {
  grid-column: 1/-1;
  grid-row: 4;
  /* align-self: end; */
}
.skilllist > ul > li {
  padding: 1%;
  font-size: 1.5em;
  grid-row: 3;
  display: inline;
}
.cv {
  text-align: center;
  grid-column: 4/5;
  grid-row: 5;
  height: 4vw;
  height: 4vh;
  background-image: url(img/orangebox.svg);
  background-repeat: no-repeat;
  align-self: end;
}
.cv > a {
  margin: 0;
  /* padding: 5%; */
  font-size: 1.5em;
}

.bluebox {
  transform: rotate(30deg);
  grid-column: 1/-1;
  grid-row: 1/-1;
  /* align-self: end; */
  height: 100vh;
  width: 59vw;
  background-image: url(img/bluebox.svg);
  background-repeat: no-repeat;
  z-index: -10000;
}
#about > p {
  font-size: 0.9em;
  margin: 0 3em;
  grid-column: 1/-1;
  grid-row: 3;
  /* align-self: end; */
  font-family: "Open Sans";
}
.bwme {
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 2;
  width: 50%;
}

/***********PROJECTS********************/
#projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5vh;
}
.huset {
  background-image: url(img/bluebox.svg);
}
.artist,
.hina {
  background-image: url(img/lightbluebox.svg);
}
.citywalk {
  background-image: url(img/orangebox.svg);
}
.yfu {
  background-image: url(img/redbox.svg);
}
.curric {
  background-image: url(img/greenbox.svg);
}
.hovercontent {
  display: none;
  margin: auto;
}

.project {
  cursor: pointer;
  text-align: center;
  /* width: 50vw; */
  height: 35vh;
}
.image {
  padding: 10vw 5vw 5vw 10vw;
  width: 80%;
  text-align: center;
}
.huset .image {
  width: 45%;
  /* margin-left: 4vw; */
}
/*************CONTACT***********************/
#contact {
  position: relative;
  height: 20vh;
  padding: 10vw 5vw;
  background-color: #d84728;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  z-index: -100000;
}
#contact > div > h2 {
  margin: 0;
  font-size: 0.8em;
  font-family: "Open Sans";
  text-transform: lowercase;
}
span > img {
  display: inline;
  width: 10%;
}
.icons {
  width: 10vw;
  padding: 5%;
}
.git {
  justify-self: right;
}
.icons > img {
  width: 100%;
  display: inline-block;
}

/* @media (min-width: 480px) {
} */

/*************TABLET*********/
@media (min-width: 760px) {
  #about,
  #projects,
  #frontpage {
    margin-bottom: 10vh;
  }
  .front {
    font-size: 2em;
    grid-column: 4/-1;
    /* align-self: center; */
  }
  .redbox {
    width: 50vw;
    height: 70vh;
    align-self: start;
  }
  .wrapper {
    font-size: 70px;
    grid-column: 3/-1;
  }

  /************Menu starts************/

  .menu {
    font-size: 1.5em;
  }

  /* display: inline; 
    padding: 2em;
    font-size: 1.3em;
  }*/
  .menuIcon {
    width: 15vw;
    margin-right: 10vw;
  }

  /*************Menu ends***********/
  /***************ABOUT******************/
  #about {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.2fr 0.5fr 0.5fr;
    grid-gap: 1vw;
  }
  #about > p {
    font-size: 1em;
    grid-column: 3/-1;
    grid-row: 2;
    padding: 0 5em;
    margin: 0;
  }
  .bluebox {
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 80vh;
    width: 59vw;
  }
  .bwme {
    justify-self: center;
    grid-column: 1/4;
    grid-row: 2;
    width: 70%;
  }
  .skilllist {
    grid-column: 3/-1;
    grid-row: 3;
    text-align: center;
  }
  .skilllist > ul {
    padding: 0;
  }
  .skilllist > ul > li {
    grid-row: 3;
  }
  .cv {
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    height: 4vw;
    height: 4vh;
    background-image: url(img/orangebox.svg);
    background-repeat: no-repeat;
    align-self: start;
  }
  .cv > a {
    margin: 0;
    /* padding: 5%; */
    font-size: 1.5em;
  }
  /***************PROJECTS******************/
  #projects {
    height: 70vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5vh;
  }
  .projectwrapper {
    align-self: start;
  }
  .sliderwrapper {
    grid-row: 2;
  }
  .image {
    padding: 8vw 2vw 2vw 3.5vw;
  }
  /***projects slider****/
  .next,
  .back {
    width: 5vw;
    height: 5vh;
    background-color: black;
    position: absolute;
    top: 40vh;
    cursor: pointer;
  }

  .next {
    right: 17vw;
  }

  .back {
    left: 20vw;
  }

  .project {
    top: 20vh;
    transition: all 1s;
    background-repeat: no-repeat;
    width: 50vw;
    height: 30vh;
    position: absolute;
  }

  .three {
    left: 25vw;
    z-index: 1;
  }
  .two,
  .one,
  .four,
  .five,
  .six {
    opacity: 0.9;
  }
  .one {
    transform: scale(0.6);
    left: 0vw;
    z-index: -3;
  }

  .two {
    transform: scale(0.8);
    left: 10vw;
    z-index: -2;
  }

  .four {
    transform: scale(0.8);
    right: 10vw;
    z-index: -4;
  }

  .five {
    transform: scale(0.6);
    right: 0vw;
    z-index: -5;
  }

  .six {
    transform: scale(0.4);
    right: -10vw;
    z-index: -6;
  }

  /***************CONTACT*************************/
  #contact {
    /* height: 10vh; */
    padding: 5vw 10vw;
  }
  #contact > div > h2 {
    font-size: 1em;
  }
  span > img {
    display: inline;
    width: 3%;
  }
  .icons {
    width: 3vw;
    padding: 5%;
  }
}

/**************DESKTOP******************/
@media (min-width: 1024px) {
  /************Menu starts************/
  .appbar,
  .menu,
  .deskmenu {
    padding: 5px;
  }
  .deskmenu {
    display: initial;
    top: 0;
    right: 0vw;
  }
  .deskmenu li {
    display: inline;
    padding: 2em;
    font-size: 1.3em;
  }
  .menulogo {
    width: 10vw;
    top: 1vh;
  }
  .menuIcon,
  .menu {
    display: none;
  }
  /*************Menu ends***********/
  /***************ABOUT******************/

  #about > p {
    padding: 5em;
  }
  .bwme {
    width: 50%;
  }
  /***************PROJECTS******************/
  #projects {
    margin: 20vh 0;
  }
  .project {
    height: 60vh;
  }
  .project > a > img {
    padding: 0;
  }
  /***************CONTACT*************************/
  #contact {
    /* height: 10vh; */
    margin-top: 10vh;
    padding: 5vw 10vw;
  }
  #contact > div > h2 {
    font-size: 1em;
  }
  span > img {
    display: inline;
    width: 3%;
  }
  .icons {
    width: 3vw;
    padding: 5%;
  }
}
